@font-face {
    font-family: 'arenoregular';
    src: url('../fonts/Areno.otf') format('woff2'),
         url('../fonts/areno.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-serif: kings-caslon-display, serif;
    --font-headings: arenoregular, Arial, sans-serif;
    --black: #000;
    --grey-light: #c4c6c8;
    --greay-dark: #777372;
    --white: #fff;
    --blue: #006391;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    background-color: var(--white);
}
.nav {
    font-family: var(--font-serif);
    color: var(--blue);
    list-style: none;
    font-style: italic;
    font-size: 110%;
    text-align:left;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 22px;
    left: -20px;
}
a {
    text-decoration: none;
    display: inline-block;
    color: var(--blue);
}
a:hover {
    color: var(--grey-light);
}
.pagewrap__home__img {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: var(--blue);
}
.img_house {
    border-right: 2.5px solid var(--blue);
    max-width: 50%;
    height: auto;
    object-fit: cover;
}
.img_land {
    max-width: 100%;
}
.img_gin {
    max-width: 50%;
    border-left: 2.5px solid var(--blue);
    height: auto;
    object-fit: cover;
}
.tenseventeen {
    font-family: var(--font-headings);
    color: var(--grey-light);
    padding: 20px;
    font-size: 200%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin-top: 20rem;

}
h3, h4 {
    font-family: var(--font-headings);
    letter-spacing: 1px;
    font-size: 110%;
    color: var(--blue);
    padding-bottom: 50px;
    text-align: center;
}
h5 {
    font-family: var(--font-serif);
    font-style: italic;
    color: var(--greay-dark);
    text-align: center;
}
p {
    font-family: var(--font-serif);
    letter-spacing: .5px;
}

.heading__bottled {
    font-family: var(--font-headings);
    color: var(--white);
    padding: 20px;
    font-size: 160%;
    letter-spacing: 4px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: -27rem;
    z-index: 3;
}
.container__body {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 22.5rem;
}

/***** BODY LEFT******/
.left {
    grid-column: 1 / 1;
    height: auto;
    display: grid;
    grid-template-rows: repeat(7, 800px);
    grid-template-columns: 100%;
    border-right: 2.5px solid var(--blue);
    background-color: var(--white);
}
.left__left__one {
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 40px;

}
.left__left__two {
    grid-row: 2 / 2;
}
.left__left__three {
    grid-row: 3 / 3;

}

.left__left__four {
    grid-row: 4 / 4;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}
.left__left__five {
    grid-row: 5 / 5;
    
}
.left__left__six {
    grid-row: 6 / 6;
}
.left__left__seven {
    text-align: right;
    grid-row: 7 / 7;
    left: -10rem;
    text-justify: center;
    padding: 30px;
}
/***** END BODY LEFT******/

.logo {
    margin: 0 auto;
    padding: 20px;
}
/***** BODY RIGHT******/
.right {
    grid-column: 2 / 2;
    height: auto;
    display: grid;
    grid-template-rows: repeat(7, 800px);
    grid-template-columns: 100%;
    background-color: var(--white);
}

.right__right__one {
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 40px;
}
.right__right__two {
    grid-row: 2 / 2;
    /* display: flex; */
    align-items: center;
    padding: 40px;
}
.right__right__three {
    grid-row: 3 / 3;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.right__right__four {
    grid-row: 4 / 4;
}
.right__right__five {
    grid-row: 5 / 5;
}
.right__right__six {
    grid-row: 6 / 6;
    padding-left: 60px;
    padding-right: 60px;
}
.right__right__seven {
    display: flex;
    grid-row: 7 / 7;
    text-align: left;
    padding: 30px;
}
/***** END BODY RIGHT******/
.container__body__right {
    height: auto;
    border-left: 2.5px solid var(--blue);
    /* border: 2px solid hotpink; */
    /* background-color: var(--white); */
}
figcaption {
    font-family: var(--font-serif);
    color: var(--blue);
    font-style: italic;
    text-align: center;
}
/***** START PROCESS IMAGE GRID****/
.process__grid {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(2, 50%);
    grid-gap: 20px;
    padding: 60px;
    align-content: center;
    
}

.img_machine1 {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    max-width: 75%;
 }
 .img_machine2 {
     grid-column: 2 / 2;
     grid-row: 4 / 5;
     max-width: 100%;
 }
/***** END PROCESS IMAGE GRID****/

 /****** START PROCESS STEPS GRID ******/
 .container__process {
    padding: 50px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 30px 400px;
    grid-template-rows: 100px 50px 50px
}
 .itemp {
    display: flex;
    font-family: var(--font-serif);
    color: var(--blue);
    margin: 20px;
}
.itemp1 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 1 / 1;
}
.itemp2 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 2 / 2;
}
.itemp3 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 3 / 3;
}
.itemp4 {
    font-family: var(--font-serif);
    color: var(--blue);
    grid-column: 2 / 2; 
    grid-row: 1 / 1;
}
.itemp5 {
    font-family: var(--font-serif);
    color: var(--blue);
    grid-column: 2 / 2; 
    grid-row: 2 / 2;
}
.itemp6 {
    font-family: var(--font-serif);
    color: var(--blue);
    grid-column: 2 / 2; 
    grid-row: 3 / 3;
}
/****** END OF PROCESS STEPS GRID ******/

 /***** START PROCESS IMAGES GRID ******/
.component__img__process {
    display: grid;
    grid-template-rows: repeat(7, 60px);
    grid-template-columns: repeat(5, 20%);
    grid-gap: 20px;
    width: 100%;
    padding: 30px;
}
.img_drums {
   grid-column: 1 / 3;
   grid-row: 1 / 3;
   justify-self: start;
   width: 100%;
}
.img_cat {
    grid-column: 2 / 2;
    grid-row: 5 / 7;
    object-fit: cover;
    width: 100%;
    justify-self: start;
}
.img_floorplan {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    width: 100%;
}
.process1 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    font-family: var(--font-serif);
    color: var(--blue);
    font-style: italic;
}
.process2 {
    grid-column: 5 / 5;
    grid-row: 2 / 2;
    font-family: var(--font-serif);
    color: var(--blue);
    font-style: italic;
}
.process3 {
    grid-column: 3 / 3;
    grid-row: 7 / 7;
    font-family: var(--font-serif);
    color: var(--blue);
    font-style: italic;
}
/***** END OF PROCESS IMAGES GRID ********/

.itemp {
    display: flex;
    font-family: var(--font-serif);
    color: var(--blue);
    margin: 20px;
}
.itemp1 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 1 / 1;
}
.itemp2 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 2 / 2;
}
.itemp3 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 3 / 3;
}
.itemp4 {
    font-family: var(--font-serif);
    color: var(--blue);
    grid-column: 2 / 2; 
    grid-row: 1 / 1;
}
.itemp5 {
    font-family: var(--font-serif);
    color: var(--blue);
    grid-column: 2 / 2; 
    grid-row: 2 / 2;
}
.itemp6 {
    font-family: var(--font-serif);
    color: var(--blue);
    grid-column: 2 / 2; 
    grid-row: 3 / 3;
}
.container_recipie {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(9, 20px);
    font-family: var(--font-serif);
    color: var(--blue);
    letter-spacing: 1px;
    /* justify-content: left; */
}
.item1 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 1 / 1;
}
.item2 {
    grid-column: 2 / 2; 
    grid-row: 1 / 1;
}
.item3 {
    grid-column: 2 / 2; 
    grid-row: 2 / 2;
}
.item4 {
    grid-column: 2 / 2; 
    grid-row: 3 / 3;
}
.item5 {
    grid-column: 2 / 2; 
    grid-row: 4 / 4;
}
.item6 {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    grid-column: 1 / 1; 
    grid-row: 8 / 8;
}
.item7 {
    color: var(--black);
    grid-column: 1 / 3; 
    grid-row: 9 / 9;
    padding-top: 3px;
}

/*******  FOOTER *******/

footer {
    margin: 0 auto;
    text-align: center;
    background-color: var(--blue);
    padding: 20px;
    padding-top: 18rem;
}
.story__footer {
    color: var(--grey-light);
    letter-spacing: 1px;
    font-size: 110%;
}
.footer__text {
    font-family: var(--font-headings);
    color: var(--white);
    text-align: center;
    letter-spacing: 2px;
    font-size: 120%;
}
.purchase_button {
    display: inline-block;
    padding: 1rem;
}
.button {
    font-family: var(--font-headings);
    color: var(--white);
    background-color: var(--blue);
    border: solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    font-size: 110%;
    margin: 2px;
}
.contact_link,
.contact_link:hover {
    font-family: var(--font-headings);
    color: var(--grey-light);
    text-decoration: none;

}
.social {
/*     display: flex; */
    padding: 8rem;
}
.social__icon {
    padding: 10px;
}


.distillery_icon {
    width: 80px;
    height: auto;
}

.story__footer__masthead {
    font-family: var(--font-serif);
    font-size: 90%;
    color: var(--white); 
    padding: 10px;
}
.whitehover,
.whitehover:hover {
    color: var(--white);
    color: white;
    text-decoration: none;
}
/*******  END FOOTER *******/